doctype html
html
	head
		title GitHub Issue Browser
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.17.0/axios.js" defer)
		script(src='javascripts/bundle.js' defer)
	body
		#app
			.container
				//-search
				router-view

