doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='javascripts/bundle.js' defer)
	body
		#app
			.container
				.columns.is-centered#search
					.column.is-two-thirds-desktop
						.columns
							.column.is-three-quarters
								.control
									input(class="input" type="text" placeholder="Repository URL")
							.column.is-one-quarter
								.control
									button(id="search-button" class="button is-primary") View
				.columns
					.column.is-one-quarter#labels
						b Labels:
						ul
							li(v-for="label in labels") {{label}}
					.column#issues
						.issue(v-for="issue in issues") 
							.issue-header
								.issue-header-status(:style="{background: stateBg(issue.state)}") {{issue.state}}
								.issue-header-title {{issue.title}}
								.issue-header-labels
									.issue-header-label(v-for="label in issue.labels")
										div(class="issue-header-label-name" :style="{background: '#'+label.colour}") {{label.name}}
