doctype html
html
	head
		title = title
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='https://unpkg.com/axios/dist/axios.min.js' defer)
		script(src='javascripts/bundle.js' defer)
	body
		#app
			.container
				search(v-on:repodata = "onRepoData")
				.columns.is-centered
					.column.is-3#labels
						labels(v-bind:repodata="repoData" v-bind:repoavailable="repoAvailable")
					.column.is-7#issues
						issues
