@import "bulma/bulma"
html
	height: 100%
body
	padding: 20px 0px 0px 0px
	height: 100%
//	background: #29A663
#search-button, #issues-button, #reviews-button
	width: 100%
//#labels
//	display: none
//#issues
//	display: none
//#search
//	margin: 70px 0px 20px 0px
//	transition-duration: 0.3s
#labels ul
	margin: 10px 0px 0px 10px
#welcome
	margin-top: 30px
	color: gray
	font-weight: bold
	font-size: 45px
	text-align: center
	margin-bottom: 50px
.review-header
	padding-left: 10px
	font-size: 12px
	color: #808480
.review-body
	background: #F2F2F2
	padding: 5px 10px 5px 10px
	border-radius: 5px
	margin-bottom: 15px
.review-new-header
	padding-left: 10px
	font-size: 14px
	color: #808480
.review-new
	margin-top: 20px
.review-new-confirm
	text-align: center
.label-type:hover, .label-subtype:hover
	transition-duration: 0.3s
	cursor: default
	color: #49E77D
#labels ul li .sub-types
    display: none
    padding-bottom: 10px
#labels ul li .sub-types.selected
    display: block
    transition: transform .2s
#reviews
	margin: 0px 0px 0px 0px
#reviews-greeting
	text-align: center
	padding-top: 20px
	margin-bottom: 20px
.reviews-none
	color: #808480
	text-align: center
//	display: none
.issue-header .issue-header-status,.issue-header .issue-header-title,.issue-header .issue-header-labels, .issue-header .issue-header-labels *
	display: inline-block
	margin: 0px 6px 2px 0px
.issue-header-status, .issue-header-labels * 
	padding: 0px 4px 0px 4px
	border-radius: 5px
.issue-header-status
	position: relative
	top: 4px
	width: 15px
	height: 15px
	border-radius: 100%
.issue-header-url, .issue-header-pullrequest, .chat-open
	font-size: 12px
	float: right
	background: #303131
	padding: 2px 5px 2px 5px
	color: white
	border-radius: 6px
	display: none
.issue-header-url a, .issue-header-pullrequest a
	color: white
.issue-header-pullrequest
	background: #802282
	margin-right: 15px
.issue-header-title
	font-weight: bold
.issue-header, .issue-header-opened
	cursor: default
	margin: 0px 0px 10px 0px
	transition-duration: 0.4s
.issue-header:hover
	margin-left: 10px
.issue-opened
	padding-left: 15px
	margin-bottom: 50px
	transition-duration: 0.3s
	border-left: 2px #F2F2F2 solid
	padding-bottom: 10px
.issue-body
	display: none
.circle
	//width: 15px
	width: 1px
	height: 25px
	//border: 2px solid #C4CBC6
	//background: #A6ACA7
	//border-radius: 100%
	margin: 0 auto
	margin-top: 10px
	margin-bottom: 0px
	border-left: 2px solid #DDE5DF
.issue-first-message, .issue-message
	background: #F2F2F2
	padding: 5px 10px 5px 10px
	border-radius: 5px
.issue-message-posted-by
	padding-left: 10px
	font-size: 12px
	color: #808480
	

// chat
.chat-body
	display: none
	width: 600px
	position: fixed
	top: 100px
	border-radius: 5px
.chat-display
	padding: 10px 10px 20px 10px
	height: 400px
	width: 600px
	background: #F7F4F4
	overflow-y:scroll
	border-radius: 5px 5px 0px 0px
	box-shadow: 0px 0px 1px #424242
.chat-message
	padding: 5px 10px 5px 10px;
	background: #42b4ed;
	border-radius: 20px;
	float: left;
	clear: both;
	margin-top: 10px;
	color: white;
	transition-duration: 0.3s;
.chat-message-byuser
	background: #c4c4c4;
	float: right;
	color: black;
.chat-open
	cursor: default
	float: none
	margin: 0 auto
	width: 150px
	text-align: center
	margin-top: 20px
.chat-close
	position: relative
	top: 16px
	right: 10px

// chat end

