@import "bulma/bulma"
body
	padding: 20px 0px 0px 0px
#search-button
	width: 100%
#search
	margin: 0px 0px 60px 0px
#labels ul
	margin: 10px 0px 0px 10px
#labels ul li:hover
	transition-duration: 0.3s
	color: #3CCE7D


